# Go workspace and build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Wails and build directories
build/bin/
build/obj/
messagebox
messagebox.exe
messagebox.app/

# Node and React dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vite and frontend build output
frontend/dist/
frontend/dist-ssr/
*.local

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Application specific files
profiles.txt

# Backup directory
old_tmp/
